<div class="row top-card-row">
    {{#if displayIntroductionOnly}}

    {{ introduction-card onClickPrimary=(action "hideIntroduction")}}

    {{else}}

        {{ quiz-view questions=questions canStartQuiz=canStartQuiz onQuizStart=(action "hideLists") }}

    {{/if}}

    {{#if displayLists}}

        {{ task-card onListItemChanged=(action "onListItemChanged")}}

        {{ reward-card onListItemChanged=(action "onListItemChanged")}}

    {{/if}}

</div>
