<div class="row top-card-row">
    {{#if displayIntroduction}}

        {{ introduction-card columnWidth=introductionCardWidth onClickPrimary=(action "hideIntroduction")}}

    {{else}}

        {{ quiz-view questions=questions displayQuizCard=displayQuizCard canStartQuiz=canStartQuiz
                     onQuizStart=(action "hideLists") }}

    {{/if}}

    {{#if displayLists}}

        {{ task-card columnWidth=taskCardWidth onListItemChanged=(action "onListItemChanged")}}

        {{ reward-card columnWidth=rewardCardWidth onListItemChanged=(action "onListItemChanged")}}

    {{/if}}
</div>
