{{#if quizStarted}}

    <div class="col-md-12">
        <div class="card">
            <h1><span class="monospaced">{{ timeLeft }}</span> Seconds left.</h1>
            <p>Think fast!</p>
        </div>
    </div>

    {{#each questions as |question|}}
        {{ trivia-question-card question=question onAnswerQuestion=(action 'answerQuestion')}}
    {{/each}}

{{else if quizFinished}}

    <div class="col-md-12">
        <div class="card">
            {{#if isWinner}}
                <h1>You win!</h1>
            {{else}}
                <h1>You lose!</h1>
            {{/if}}
        </div>
    </div>

{{ else }}

    <div class="col-md-12">
        <div class="card">
            {{#if canStartQuiz}}
                <h1>Quiz time!</h1>
                <p>
                    When you click start, ten questions will be displayed. Answer five questions correctly within the
                    time limit to receive
                    a reward from your reward list.
                    However, if you give five wrong answers you will be forced to complete a task from your task list!
                    <br/>
                </p>

                <button class="btn btn-primary" {{action "startQuiz"}}>Start!</button>
                <button class="btn btn-default">Back to overview</button>
            {{else}}
                <div id="introduction-text">
                    <p>
                        We can start managing your time when you have defined at least one task and one reward.<br/>
                        Add items to the lists below to do so.
                    </p>
                </div>
            {{/if}}
        </div>
    </div>
{{/if}}
