<div class="col-md-12">

    {{#if answeredCorrectly}}

        <div class="card correct-answer">
            <h2>Correct!</h2>
        </div>

    {{else if answeredIncorrectly}}

        <div class="card false-answer">
            <h2>False!</h2>
        </div>

    {{else}}

        <div class="card quiz-question">
            <h2>{{{question.question}}}</h2>

            <hr/>

            {{#each shuffledAnswers as |answer|}}
                <button {{action "answerQuestion" answer.isCorrect}} class="btn btn-default">
                    {{{answer.answer}}}
                </button>
            {{/each}}
        </div>

    {{/if}}

</div>